In [5]:
#Essentials
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from urllib.parse import quote
import scraping_class
from tqdm import tqdm_notebook

In [7]:
#Building blocks
row = ["Kursus","Fakultet", "Institut","Termin","ECTS","Eksamenstype","Antal tilmeldte",\
        "Fremmødte", "Antal bestået", "Eksamensgennemsnit",12,10,7,4,2,0,-3,\
        "Ej mødt","Ikke bestået"]
df = pd.DataFrame(row)

#What do you want to scrape?
#base_url = "http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/"
#sem = ["Winter-2014","Summer-2015","Winter-2015","Summer-2016","Winter-2016","Summer-2017","Winter-2017","Summer-2018","Winter-2018","Summer-2019"]

#Try the hard scrape:
urls = "http://karakterstatistik.stads.ku.dk/Histogram/NFYK14019E/Summer-2015/B3http://karakterstatistik.stads.ku.dk/Histogram/SFAK18001E/Winter-2018/B1http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/ASTB12435E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/ASTB12435E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/ASTK15435E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/ASTK15435E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/ASTK15339E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/ASTK12339E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/ASTB12339E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/ASTB12250E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/ASTK12250E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/ASTK18206E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/ASTB12206E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/NNMK14003E/Summer-2015/B4http://karakterstatistik.stads.ku.dk/Histogram/NNMK14003E/Winter-2014/B2http://karakterstatistik.stads.ku.dk/Histogram/NNMK14004E/Summer-2015/B3http://karakterstatistik.stads.ku.dk/Histogram/NNMK14004E/Winter-2014/B1http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2018/B5http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2017/B5http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2016/B5http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2015/B5http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2014/B5http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HFKB03617E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HFIK03461E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HFIB00381E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HFIB00381E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HMMK03011E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HMMK03061E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HHIK03171E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HHIK03171E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HKGK03421E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HDAK03501E/Winter-2017http://karakterstatistik.stads.ku.dk/Histogram/HOLK03991E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HLKA04091E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HMKA04011E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HMKA04021E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HMKA04031E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HMKA04041E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HDCB00051E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HPÆA05101E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HTEA05101E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HDCB00061E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HDCB00071E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HDCB00081E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HDCB00101E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HDCB00111E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HDCB00091E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/NFYK14008E/Winter-2015/B2http://karakterstatistik.stads.ku.dk/Histogram/NFYK14008E/Winter-2014/B2http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2018http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2017http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2018http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2018http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2017http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2015http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Winter-2018http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Winter-2017http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2019http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Winter-2017http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Winter-2016http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Winter-2014http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Winter-2017http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Summer-2015http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Summer-2014http://karakterstatistik.stads.ku.dk/Histogram/HASK03471E/Summer-2017http://karakterstatistik.stads.ku.dk/Histogram/HCCK03191E/Summer-2016http://karakterstatistik.stads.ku.dk/Histogram/HCCK03191E/Winter-2015"
urls = urls.split("http")
for i in range(0,len(urls)):
    urls[i] = "http"+urls[i]
urls = urls[1:120]
urls.append("http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Winter-2014")
urls.append("http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Summer-2015")
len(urls)

120

In [6]:
base_url = "http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/"
sem = ["Winter-2014","Summer-2015","Winter-2015","Summer-2016","Winter-2016","Summer-2017","Winter-2017","Summer-2018","Winter-2018","Summer-2019"]

In [10]:
# DENNE ER DONE OG KØRER, DOG UDEN KURSUSNAVN. TESTER ER NEDENUNDER
for j in range(0,len(urls)):
    #IDENTIFY WEBSITE AND SCRAPE
    #url = base_url + sem[i]
    url = urls[j]
    print(url)
    dff = pd.read_html(quote(url, safe=':/'),encoding='utf-8')
    
    #SOFT RESULTS
    keys = []
    values = []

    for i in range(0,len(dff[0][0])):
        keys.append(dff[0][0][i])
        values.append(dff[0][1][i])
    dictionary = dict(zip(keys,values))

    if "kursus" in dictionary:
        x0 = dictionary["kursus"]
    else:
        x0 = np.nan
    if "Fakultet" in dictionary:
        x1 = dictionary["Fakultet"]
    else:
        x1 = np.nan
    if "Institut" in dictionary:
        x2 = dictionary["Institut"]
    else:
        x2 = np.nan
    if "Termin" in dictionary:
        x3 = dictionary["Termin"]
    else:
        x3 = np.nan
    if "ECTS" in dictionary:
        x4 = dictionary["ECTS"]
    else:
        x4 = np.nan
    if "Ordinær eksamen" in dictionary:
        x5 = dictionary["Ordinær eksamen"]
    else:
        x5 = np.nan
    if "Antal tilmeldte" in dictionary:
        x6 = dictionary["Antal tilmeldte"]
    else:
        x6 = np.nan
    if "Fremmødte" in dictionary:
        x7 = dictionary["Fremmødte"]
    else:
        x7 = np.nan

    #data1 = [x0,x1,x2,x3,x4,x5,x6,x7]
    
    #HARD RESULTS
    if len(dff) >= 4:
        Karakter = []
        Antal = []
        for i in range(0,len(dff[2]["Karakter"])):
            Karakter.append(dff[2]["Karakter"][i])
            Antal.append(dff[2]["Antal"][i])
        dictionary = dict(zip(Karakter,Antal))
        #print(dictionary)
        Beståetlist = []

        tolv = 12
        ti = 10
        syv = 7
        fire = 4
        nulto = 2
        nulnul = 0
        minustre = -3

        newkeys = []
        newvalues = []
        if "12" in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary["12"])
            Beståetlist.append(dictionary["12"])
            x_12 = dictionary["12"]
        elif 12 in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary[12])
            Beståetlist.append(dictionary[12])
            x_12 = dictionary[12]
        else:
            x_12 = np.nan
        if "10" in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary["10"])
            Beståetlist.append(dictionary["10"])
            x_10 = dictionary["10"]
        elif 10 in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary[10])
            Beståetlist.append(dictionary[10])
            x_10 = dictionary[10]
        else:
            x_10 = np.nan
        if "7" in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary["7"])
            Beståetlist.append(dictionary["7"])
            x_7 = dictionary["7"]
        elif 7 in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary[7])
            Beståetlist.append(dictionary[7])
            x_7 = dictionary[7]
        else:
            x_7 = np.nan
        if "4" in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary["4"])
            Beståetlist.append(dictionary["4"])
            x_4 = dictionary["4"]
        elif 4 in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary[4])
            Beståetlist.append(dictionary[4])
            x_4 = dictionary[4]
        else:
            x_4 = np.nan
        if "02" in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary["02"])
            Beståetlist.append(dictionary["02"])
            x_02 = dictionary["02"]
        elif 2 in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary[2])
            Beståetlist.append(dictionary[2])
            x_02 = dictionary[2]
        else:
            x_02 = np.nan
        if "00" in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary["00"])
            x_00 = dictionary["00"]
        elif 0 in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary[0])
            x_00 = dictionary[0]
        else:
            x_00 = np.nan
        if "-3" in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary["-3"]) 
            x_m3 = dictionary["-3"]
        elif -3 in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary[-3]) 
            x_m3 = dictionary[-3]
        else:
            x_m3 = np.nan
        if "Ej mødt" in dictionary:
            Ejmødt = dictionary["Ej mødt"]
        else:
            Ejmødt = np.nan
        if "Ikke bestået" in dictionary:
            Ikkebestået = dictionary["Ikke bestået"]
        else:
            Ikkebestået = np.nan
        if "Bestået" in dictionary:
            Bestået = dictionary["Bestået"]
            Beståetlist = [dictionary["Bestået"]]
        else:
            Bestået = np.nan

        newdick = dict(zip(newkeys,newvalues))
        if len(newdick) == 0:
            gennemsnit = np.nan
        else:
            gennemsnit = sum([xx*yy for xx,yy in newdick.items()])/sum(newdick.values())

        x8 = sum(Beståetlist) 
        x9 = gennemsnit
        x10 = x_12
        x11 = x_10
        x12 = x_7
        x13 = x_4
        x14 = x_02
        x15 = x_00
        x16 = x_m3
        x17 = Ejmødt
        x18 = Ikkebestået

        data = [x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18]
        df[j+1] = data
    else:
        a = np.empty(19)
        a[:] = np.nan
        df[j+1] = a
  #######################  
    if len(dff) == 5:
        keys = []
        values = []

        #Soft results without tilmeldte and fremmødte
        for i in range(0,len(dff[0][0])):
            keys.append(dff[0][0][i])
            values.append(dff[0][1][i])
        dictionary = dict(zip(keys,values))
        if "Ordinær eksamen" in dictionary:
            del dictionary["Ordinær eksamen"]
        if "Antal tilmeldte" in dictionary:
            del dictionary["Antal tilmeldte"]
        if "Fremmødte" in dictionary:
            del dictionary["Fremmødte"]
        dictionary["Reeksamen"] = "Reeksamen"

        if "kursus" in dictionary:
            x0 = dictionary["kursus"]
        else:
            x0 = np.nan
        if "Fakultet" in dictionary:
            x1 = dictionary["Fakultet"]
        else:
            x1 = np.nan
        if "Institut" in dictionary:
            x2 = dictionary["Institut"]
        else:
            x2 = np.nan
        if "Termin" in dictionary:
            x3 = dictionary["Termin"]
        else:
            x3 = np.nan
        if "ECTS" in dictionary:
            x4 = dictionary["ECTS"]
        else:
            x4 = np.nan    
        x5 = dictionary["Reeksamen"]

        data1 = [x0,x1,x2,x3,x4,x5]

        #HARD RESULTS
        Karakter = []
        Antal = []
        for i in range(0,len(dff[4]["Karakter"])):
            Karakter.append(dff[4]["Karakter"][i])
            Antal.append(dff[4]["Antal"][i])
        dictionary = dict(zip(Karakter,Antal))
        #print("Dictionary: ", dictionary)
        Beståetlist = []

        tolv = 12
        ti = 10
        syv = 7
        fire = 4
        nulto = 2
        nulnul = 0
        minustre = -3

        newkeys = []
        newvalues = []
        if "12" in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary["12"])
            Beståetlist.append(dictionary["12"])
            x_12 = dictionary["12"]
        elif 12 in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary[12])
            Beståetlist.append(dictionary[12])
            x_12 = dictionary[12]
        else:
            x_12 = np.nan
        if "10" in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary["10"])
            Beståetlist.append(dictionary["10"])
            x_10 = dictionary["10"]
        elif 10 in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary[10])
            Beståetlist.append(dictionary[10])
            x_10 = dictionary[10]
        else:
            x_10 = np.nan
        if "7" in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary["7"])
            Beståetlist.append(dictionary["7"])
            x_7 = dictionary["7"]
        elif 7 in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary[7])
            Beståetlist.append(dictionary[7])
            x_7 = dictionary[7]
        else:
            x_7 = np.nan
        if "4" in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary["4"])
            Beståetlist.append(dictionary["4"])
            x_4 = dictionary["4"]
        elif 4 in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary[4])
            Beståetlist.append(dictionary[4])
            x_4 = dictionary[4]
        else:
            x_4 = np.nan
        if "02" in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary["02"])
            Beståetlist.append(dictionary["02"])
            x_02 = dictionary["02"]
        elif 2 in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary[2])
            Beståetlist.append(dictionary[2])
            x_02 = dictionary[2]
        else:
            x_02 = np.nan
        if "00" in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary["00"])
            x_00 = dictionary["00"]
        elif 0 in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary[0])
            x_00 = dictionary[0]
        else:
            x_00 = np.nan
        if "-3" in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary["-3"]) 
            x_m3 = dictionary["-3"]
        elif -3 in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary[-3]) 
            x_m3 = dictionary[-3]
        else:
            x_m3 = np.nan
        if "Ej mødt" in dictionary:
            Ejmødt = dictionary["Ej mødt"]
        else:
            Ejmødt = np.nan
        if "Ikke bestået" in dictionary:
            Ikkebestået = dictionary["Ikke bestået"]
        else:
            Ikkebestået = np.nan
        if "Bestået" in dictionary:
            Bestået = dictionary["Bestået"]
            Beståetlist = [dictionary["Bestået"]]
        else:
            Bestået = np.nan

        newdick = dict(zip(newkeys,newvalues))
        #print("Newdick: ", newdick)
        
        if len(newdick) == 0:
            gennemsnit = np.nan
        else:
            gennemsnit = sum([xx*yy for xx,yy in newdick.items()])/sum(newdick.values())

        x6 = sum(dictionary.values())
        if "Ej mødt" in dictionary:
            x7 = sum(dictionary.values())-dictionary["Ej mødt"]
        else:
            x7 = sum(dictionary.values())

        x8 = sum(Beståetlist) 
        x9 = gennemsnit
        x10 = x_12
        x11 = x_10
        x12 = x_7
        x13 = x_4
        x14 = x_02
        x15 = x_00
        x16 = x_m3
        x17 = Ejmødt
        x18 = Ikkebestået

        data = [x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18]
        m = j+1
        stringz = "re "+str(m)
        df[stringz] = data

    else:
        m = j+1
        stringz = "re " + str(m)
        a = np.empty(19)
        a[:] = np.nan
        df[stringz] = a

df

http://karakterstatistik.stads.ku.dk/Histogram/NFYK14019E/Summer-2015/B3
http://karakterstatistik.stads.ku.dk/Histogram/SFAK18001E/Winter-2018/B1
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Summer-2015

,0,1,re 1,2,re 2,3,re 3,4,re 4,5,...,7,re 7,8,re 8,9,re 9,10,re 10,11,re 11
0,Kursus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fakultet,Det Natur- og Biovidenskabelige Fakultet,NaN,Det Sundhedsvidenskabelige Fakultet,Det Sundhedsvidenskabelige Fakultet,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Det Teologiske Fakultet,NaN,Det Samfundsvidenskabelige Fakultet,Det Samfundsvidenskabelige Fakultet,Det Samfundsvidenskabelige Fakultet,Det Samfundsvidenskabelige Fakultet
2,Institut,Niels Bohr Institutet,NaN,Farmaci,Farmaci,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Økonomisk Institut,Økonomisk Institut,Økonomisk Institut,Økonomisk Institut
3,Termin,s15/B3,NaN,v18/B1,v18/B1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,s15,NaN,v14,v14,s15,s15
4,ECTS,75,NaN,5,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30,NaN,10,10,10,10
5,Eksamenstype,Ordinær eksamen,NaN,Ordinær eksamen,Reeksamen,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ordinær eksamen,NaN,Ordinær eksamen,Reeksamen,Ordinær eksamen,Reeksamen
6,Antal tilmeldte,16,NaN,163,16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,297,26,89,14
7,Fremmødte,14,NaN,160,16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,NaN,266,21,59,11
8,Antal bestået,14,NaN,144,13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,NaN,244,19,48,8
9,Eksamensgennemsnit,7.85714,NaN,5.53125,2.375,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.88722,5.7619,5,1.90909
10,12,3,NaN,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16,0,7,0
11,10,2,NaN,35,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47,4,6,0
12,7,6,NaN,44,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82,9,16,1
13,4,3,NaN,38,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,75,3,8,3
14,2,0,NaN,24,10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24,3,11,4
15,0,0,NaN,13,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16,2,6,1
16,-3,0,NaN,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6,0,5,2
17,Ej mødt,2,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,5,5,4,3
18,Ikke bestået,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,26,NaN,26,NaN

In [10]:
#What columns do you want to inspect?
infile_1 = df.iloc[:180:190]
infile_1

,0,1,re 1,2,re 2,3,re 3,4,re 4,5,...,116,re 116,117,re 117,118,re 118,119,re 119,120,re 120
0,Kursus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#base_url = "http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/"
#sem = ["Winter-2014","Summer-2015","Winter-2015","Summer-2016","Winter-2016","Summer-2017","Winter-2017","Summer-2018","Winter-2018","Summer-2019"]
#Building blocks
row = ["Kursus","Fakultet", "Institut","Termin","ECTS","Eksamenstype","Antal tilmeldte",\
        "Fremmødte", "Antal bestået", "Eksamensgennemsnit",12,10,7,4,2,0,-3,\
        "Ej mødt","Ikke bestået"]
df = pd.DataFrame(row)

urls = ["http://karakterstatistik.stads.ku.dk/Histogram/AØKA08178E/Summer-2018/B5",\
       "http://karakterstatistik.stads.ku.dk/Histogram/AØKA08178E/Summer-2017/B5",\
       "http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Summer-2017"]
for i in range(0,len(urls)):
    print(urls[i])

http://karakterstatistik.stads.ku.dk/Histogram/AØKA08178E/Summer-2018/B5
http://karakterstatistik.stads.ku.dk/Histogram/AØKA08178E/Summer-2017/B5
http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Summer-2017

In [8]:
# TEST MED NAVN FOR KURSUS
for j in tqdm_notebook(range(0,len(urls))):
    
    #url = base_url + sem[j]
    url = urls[j]
    s = requests.get(url)
    s = BeautifulSoup(s.text)
    x0 = (str(s.findAll("h2"))[7:])[:-6]
    
    #IDENTIFY WEBSITE AND SCRAPE
    print(url)
    dff = pd.read_html(quote(url, safe=':/'),encoding='utf-8')
    
    #SOFT RESULTS
    keys = []
    values = []

    for i in range(0,len(dff[0][0])):
        keys.append(dff[0][0][i])
        values.append(dff[0][1][i])
    dictionary = dict(zip(keys,values))

    #if "kursus" in dictionary:
     #   x0 = dictionary["kursus"]
    #else:
      #  x0 = np.nan
    if "Fakultet" in dictionary:
        x1 = dictionary["Fakultet"]
    else:
        x1 = np.nan
    if "Institut" in dictionary:
        x2 = dictionary["Institut"]
    else:
        x2 = np.nan
    if "Termin" in dictionary:
        x3 = dictionary["Termin"]
    else:
        x3 = np.nan
    if "ECTS" in dictionary:
        x4 = dictionary["ECTS"]
    else:
        x4 = np.nan
    if "Ordinær eksamen" in dictionary:
        x5 = dictionary["Ordinær eksamen"]
    else:
        x5 = np.nan
    if "Antal tilmeldte" in dictionary:
        x6 = dictionary["Antal tilmeldte"]
    else:
        x6 = np.nan
    if "Fremmødte" in dictionary:
        x7 = dictionary["Fremmødte"]
    else:
        x7 = np.nan

    #data1 = [x0,x1,x2,x3,x4,x5,x6,x7]
    
    #HARD RESULTS
    if len(dff) >= 4:
        Karakter = []
        Antal = []
        for i in range(0,len(dff[2]["Karakter"])):
            Karakter.append(dff[2]["Karakter"][i])
            Antal.append(dff[2]["Antal"][i])
        dictionary = dict(zip(Karakter,Antal))
        #print(dictionary)
        Beståetlist = []

        tolv = 12
        ti = 10
        syv = 7
        fire = 4
        nulto = 2
        nulnul = 0
        minustre = -3

        newkeys = []
        newvalues = []
        if "12" in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary["12"])
            Beståetlist.append(dictionary["12"])
            x_12 = dictionary["12"]
        elif 12 in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary[12])
            Beståetlist.append(dictionary[12])
            x_12 = dictionary[12]
        else:
            x_12 = np.nan
        if "10" in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary["10"])
            Beståetlist.append(dictionary["10"])
            x_10 = dictionary["10"]
        elif 10 in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary[10])
            Beståetlist.append(dictionary[10])
            x_10 = dictionary[10]
        else:
            x_10 = np.nan
        if "7" in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary["7"])
            Beståetlist.append(dictionary["7"])
            x_7 = dictionary["7"]
        elif 7 in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary[7])
            Beståetlist.append(dictionary[7])
            x_7 = dictionary[7]
        else:
            x_7 = np.nan
        if "4" in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary["4"])
            Beståetlist.append(dictionary["4"])
            x_4 = dictionary["4"]
        elif 4 in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary[4])
            Beståetlist.append(dictionary[4])
            x_4 = dictionary[4]
        else:
            x_4 = np.nan
        if "02" in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary["02"])
            Beståetlist.append(dictionary["02"])
            x_02 = dictionary["02"]
        elif 2 in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary[2])
            Beståetlist.append(dictionary[2])
            x_02 = dictionary[2]
        else:
            x_02 = np.nan
        if "00" in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary["00"])
            x_00 = dictionary["00"]
        elif 0 in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary[0])
            x_00 = dictionary[0]
        else:
            x_00 = np.nan
        if "-3" in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary["-3"]) 
            x_m3 = dictionary["-3"]
        elif -3 in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary[-3]) 
            x_m3 = dictionary[-3]
        else:
            x_m3 = np.nan
        if "Ej mødt" in dictionary:
            Ejmødt = dictionary["Ej mødt"]
        else:
            Ejmødt = np.nan
        if "Ikke bestået" in dictionary:
            Ikkebestået = dictionary["Ikke bestået"]
        else:
            Ikkebestået = np.nan
        if "Bestået" in dictionary:
            Bestået = dictionary["Bestået"]
            Beståetlist = [dictionary["Bestået"]]
        else:
            Bestået = np.nan

        newdick = dict(zip(newkeys,newvalues))
        if len(newdick) == 0:
            gennemsnit = np.nan
        else:
            gennemsnit = sum([xx*yy for xx,yy in newdick.items()])/sum(newdick.values())

        x8 = sum(Beståetlist) 
        x9 = gennemsnit
        x10 = x_12
        x11 = x_10
        x12 = x_7
        x13 = x_4
        x14 = x_02
        x15 = x_00
        x16 = x_m3
        x17 = Ejmødt
        x18 = Ikkebestået

        data = [x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18]
        df[j+1] = data
    else:
        a = np.empty(19)
        a[:] = np.nan
        df[j+1] = a
  #######################  
    if len(dff) == 5:
        keys = []
        values = []

        #Soft results without tilmeldte and fremmødte
        for i in range(0,len(dff[0][0])):
            keys.append(dff[0][0][i])
            values.append(dff[0][1][i])
        dictionary = dict(zip(keys,values))
        if "Ordinær eksamen" in dictionary:
            del dictionary["Ordinær eksamen"]
        if "Antal tilmeldte" in dictionary:
            del dictionary["Antal tilmeldte"]
        if "Fremmødte" in dictionary:
            del dictionary["Fremmødte"]
        dictionary["Reeksamen"] = "Reeksamen"

        #if "kursus" in dictionary:
        #    x0 = dictionary["kursus"]
        #else:
        #    x0 = np.nan
        if "Fakultet" in dictionary:
            x1 = dictionary["Fakultet"]
        else:
            x1 = np.nan
        if "Institut" in dictionary:
            x2 = dictionary["Institut"]
        else:
            x2 = np.nan
        if "Termin" in dictionary:
            x3 = dictionary["Termin"]
        else:
            x3 = np.nan
        if "ECTS" in dictionary:
            x4 = dictionary["ECTS"]
        else:
            x4 = np.nan    
        x5 = dictionary["Reeksamen"]

        data1 = [x0,x1,x2,x3,x4,x5]

        #HARD RESULTS
        Karakter = []
        Antal = []
        for i in range(0,len(dff[4]["Karakter"])):
            Karakter.append(dff[4]["Karakter"][i])
            Antal.append(dff[4]["Antal"][i])
        dictionary = dict(zip(Karakter,Antal))
        #print("Dictionary: ", dictionary)
        Beståetlist = []

        tolv = 12
        ti = 10
        syv = 7
        fire = 4
        nulto = 2
        nulnul = 0
        minustre = -3

        newkeys = []
        newvalues = []
        if "12" in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary["12"])
            Beståetlist.append(dictionary["12"])
            x_12 = dictionary["12"]
        elif 12 in dictionary:
            newkeys.append(tolv)
            newvalues.append(dictionary[12])
            Beståetlist.append(dictionary[12])
            x_12 = dictionary[12]
        else:
            x_12 = np.nan
        if "10" in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary["10"])
            Beståetlist.append(dictionary["10"])
            x_10 = dictionary["10"]
        elif 10 in dictionary:
            newkeys.append(ti)
            newvalues.append(dictionary[10])
            Beståetlist.append(dictionary[10])
            x_10 = dictionary[10]
        else:
            x_10 = np.nan
        if "7" in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary["7"])
            Beståetlist.append(dictionary["7"])
            x_7 = dictionary["7"]
        elif 7 in dictionary:
            newkeys.append(syv)
            newvalues.append(dictionary[7])
            Beståetlist.append(dictionary[7])
            x_7 = dictionary[7]
        else:
            x_7 = np.nan
        if "4" in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary["4"])
            Beståetlist.append(dictionary["4"])
            x_4 = dictionary["4"]
        elif 4 in dictionary:
            newkeys.append(fire)
            newvalues.append(dictionary[4])
            Beståetlist.append(dictionary[4])
            x_4 = dictionary[4]
        else:
            x_4 = np.nan
        if "02" in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary["02"])
            Beståetlist.append(dictionary["02"])
            x_02 = dictionary["02"]
        elif 2 in dictionary:
            newkeys.append(nulto)
            newvalues.append(dictionary[2])
            Beståetlist.append(dictionary[2])
            x_02 = dictionary[2]
        else:
            x_02 = np.nan
        if "00" in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary["00"])
            x_00 = dictionary["00"]
        elif 0 in dictionary:
            newkeys.append(nulnul)
            newvalues.append(dictionary[0])
            x_00 = dictionary[0]
        else:
            x_00 = np.nan
        if "-3" in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary["-3"]) 
            x_m3 = dictionary["-3"]
        elif -3 in dictionary:
            newkeys.append(minustre)
            newvalues.append(dictionary[-3]) 
            x_m3 = dictionary[-3]
        else:
            x_m3 = np.nan
        if "Ej mødt" in dictionary:
            Ejmødt = dictionary["Ej mødt"]
        else:
            Ejmødt = np.nan
        if "Ikke bestået" in dictionary:
            Ikkebestået = dictionary["Ikke bestået"]
        else:
            Ikkebestået = np.nan
        if "Bestået" in dictionary:
            Bestået = dictionary["Bestået"]
            Beståetlist = [dictionary["Bestået"]]
        else:
            Bestået = np.nan

        newdick = dict(zip(newkeys,newvalues))
        #print("Newdick: ", newdick)
        
        if len(newdick) == 0:
            gennemsnit = np.nan
        else:
            gennemsnit = sum([xx*yy for xx,yy in newdick.items()])/sum(newdick.values())

        x6 = sum(dictionary.values())
        if "Ej mødt" in dictionary:
            x7 = sum(dictionary.values())-dictionary["Ej mødt"]
        else:
            x7 = sum(dictionary.values())

        x8 = sum(Beståetlist) 
        x9 = gennemsnit
        x10 = x_12
        x11 = x_10
        x12 = x_7
        x13 = x_4
        x14 = x_02
        x15 = x_00
        x16 = x_m3
        x17 = Ejmødt
        x18 = Ikkebestået

        data = [x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18]
        m = j+1
        stringz = "re "+str(m)
        df[stringz] = data

    else:
        m = j+1
        stringz = "re " + str(m)
        a = np.empty(19)
        a[:] = np.nan
        df[stringz] = a

df

HBox(children=(IntProgress(value=0, max=120), HTML(value='')))

http://karakterstatistik.stads.ku.dk/Histogram/NFYK14019E/Summer-2015/B3
http://karakterstatistik.stads.ku.dk/Histogram/SFAK18001E/Winter-2018/B1
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/TTEABAF15E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/TTEAKAF30E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/ASTB12435E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/ASTB12435E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/ASTK15435E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/ASTK15435E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/ASTK15339E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/ASTK12339E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/ASTB12339E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/ASTB12250E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/ASTK12250E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/ASTK18206E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/ASTB12206E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/NNMK14003E/Summer-2015/B4
http://karakterstatistik.stads.ku.dk/Histogram/NNMK14003E/Winter-2014/B2
http://karakterstatistik.stads.ku.dk/Histogram/NNMK14004E/Summer-2015/B3
http://karakterstatistik.stads.ku.dk/Histogram/NNMK14004E/Winter-2014/B1
http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2018/B5
http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2017/B5
http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2016/B5
http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2015/B5
http://karakterstatistik.stads.ku.dk/Histogram/LSLS10093E/Summer-2014/B5
http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/SFOA09009E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HKMB10051E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HKMB00172E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HFKB03617E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HINK03131E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HFIK03461E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HFIB00381E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HFIB00381E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HMMK03011E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HMMK03061E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HHIK03171E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HHIK03171E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HKGK03421E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HDAK03501E/Winter-2017
http://karakterstatistik.stads.ku.dk/Histogram/HOLK03991E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HLKA04091E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HMKA04011E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HMKA04021E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HMKA04031E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HMKA04041E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00051E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HPÆA05101E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HTEA05101E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00061E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00071E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00081E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00101E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00111E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HDCB00091E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/NFYK14008E/Winter-2015/B2
http://karakterstatistik.stads.ku.dk/Histogram/NFYK14008E/Winter-2014/B2
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2018
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2017
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HENB10521E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2018
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2018
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2017
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/AGDK14010E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Winter-2018
http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Winter-2017
http://karakterstatistik.stads.ku.dk/Histogram/HIOK03641E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2019
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Winter-2017
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Winter-2016
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/HNAK03471E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Winter-2017
http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Summer-2016
http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Summer-2015
http://karakterstatistik.stads.ku.dk/Histogram/HÆGK03471E/Summer-2014
http://karakterstatistik.stads.ku.dk/Histogram/HASK03471E/Summer-2017
http://karakterstatistik.stads.ku.dk/Histogram/HCCK03191E/Summer-2016

http://karakterstatistik.stads.ku.dk/Histogram/HCCK03191E/Winter-2015
http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Winter-2014
http://karakterstatistik.stads.ku.dk/Histogram/AØKB08003E/Summer-2015

,0,1,re 1,2,re 2,3,re 3,4,re 4,5,...,116,re 116,117,re 117,118,re 118,119,re 119,120,re 120
0,Kursus,Numerical methods in atmospheric and oceanic ...,NaN,Toxicology and Drug Safety,Toxicology and Drug Safety,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Academic Internship,NaN,Samfundsbeskrivelse A,Samfundsbeskrivelse A,Samfundsbeskrivelse A,Samfundsbeskrivelse A
1,Fakultet,Det Natur- og Biovidenskabelige Fakultet,NaN,Det Sundhedsvidenskabelige Fakultet,Det Sundhedsvidenskabelige Fakultet,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Det Humanistiske Fakultet,NaN,Det Samfundsvidenskabelige Fakultet,Det Samfundsvidenskabelige Fakultet,Det Samfundsvidenskabelige Fakultet,Det Samfundsvidenskabelige Fakultet
2,Institut,Niels Bohr Institutet,NaN,Farmaci,Farmaci,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Institut for Medier, Erkendelse og Formidling",NaN,Økonomisk Institut,Økonomisk Institut,Økonomisk Institut,Økonomisk Institut
3,Termin,s15/B3,NaN,v18/B1,v18/B1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,v15,NaN,v14,v14,s15,s15
4,ECTS,75,NaN,5,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15,NaN,10,10,10,10
5,Eksamenstype,Ordinær eksamen,NaN,Ordinær eksamen,Reeksamen,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ordinær eksamen,NaN,Ordinær eksamen,Reeksamen,Ordinær eksamen,Reeksamen
6,Antal tilmeldte,16,NaN,163,16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,297,26,89,14
7,Fremmødte,14,NaN,160,16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,266,21,59,11
8,Antal bestået,14,NaN,144,13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,NaN,244,19,48,8
9,Eksamensgennemsnit,7.85714,NaN,5.53125,2.375,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.88722,5.7619,5,1.90909
10,12,3,NaN,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16,0,7,0
11,10,2,NaN,35,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47,4,6,0
12,7,6,NaN,44,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82,9,16,1
13,4,3,NaN,38,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,75,3,8,3
14,2,0,NaN,24,10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24,3,11,4
15,0,0,NaN,13,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16,2,6,1
16,-3,0,NaN,3,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6,0,5,2
17,Ej mødt,2,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,5,4,3
18,Ikke bestået,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3,NaN,26,NaN,26,NaN