## Merching course website with grade stats

In [2]:
import scraping_class
logfile = 'log.txt'## name your log file.
connector = scraping_class.Connector(logfile)
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook

In [3]:
import pandas as pd
import numpy as np
import html5lib
import sys

In [9]:
df = pd.read_pickle('grade_scrabe_3k.pkl')
df

,0,1,re 1,2,re 2,3,re 3,4,re 4,5,...,3329,re 3329,3330,re 3330,3331,re 3331,3332,re 3332,3333,re 3333
0,Kursus,Numerical methods in atmospheric and oceanic ...,NaN,Toxicology and Drug Safety,Toxicology and Drug Safety,NaN,NaN,NaN,NaN,NaN,...,Byens grønne områder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fakultet,Det Natur- og Biovidenskabelige Fakultet,NaN,Det Sundhedsvidenskabelige Fakultet,Det Sundhedsvidenskabelige Fakultet,NaN,NaN,NaN,NaN,NaN,...,Det Natur- og Biovidenskabelige Fakultet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Institut,Niels Bohr Institutet,NaN,Farmaci,Farmaci,NaN,NaN,NaN,NaN,NaN,...,Institut for Geovidenskab og Naturforvaltning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Termin,s15/B3,NaN,v18/B1,v18/B1,NaN,NaN,NaN,NaN,NaN,...,v14/B2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ECTS,75,NaN,5,5,NaN,NaN,NaN,NaN,NaN,...,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Eksamenstype,Ordinær eksamen,NaN,Ordinær eksamen,Reeksamen,NaN,NaN,NaN,NaN,NaN,...,Ordinær eksamen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Antal tilmeldte,16,NaN,163,16,NaN,NaN,NaN,NaN,NaN,...,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Fremmødte,14,NaN,160,16,NaN,NaN,NaN,NaN,NaN,...,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Antal bestået,14,NaN,144,13,NaN,NaN,NaN,NaN,NaN,...,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Eksamensgennemsnit,7.85714,NaN,5.53125,2.375,NaN,NaN,NaN,NaN,NaN,...,9.65217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,12,3,NaN,3,0,NaN,NaN,NaN,NaN,NaN,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,2,NaN,35,1,NaN,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7,6,NaN,44,0,NaN,NaN,NaN,NaN,NaN,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4,3,NaN,38,2,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2,0,NaN,24,10,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0,0,NaN,13,3,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,-3,0,NaN,3,0,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ej mødt,2,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Ikke bestået,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = pd.DataFrame.from_dict(dict_load, orient='index')