## Merching course website with grade stats

In [1]:
import scraping_class
logfile = 'log.txt'## name your log file.
connector = scraping_class.Connector(logfile)
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook

In [25]:
import pandas as pd
import numpy as np
import html5lib
import sys
import pickle

In [119]:
with open('grade_scrabe_ALL.pkl', 'rb') as f:
    grades = pickle.load(f)

In [120]:
print(type(grades))
grades.shape

<class 'pandas.core.frame.DataFrame'>

(20, 66527)

In [121]:
grades = grades.set_index([0])

In [122]:
grades_trans = grades.T
grades_trans['URL'][60]
grades_trans[1000:]

,URL,Kursus,Fakultet,Institut,Termin,ECTS,Eksamenstype,Antal tilmeldte,Fremmødte,Antal bestået,Eksamensgennemsnit,12,10,7,4,2,0,-3,Ej mødt,Ikke bestået
501,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Mechanics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,v18/B1,75,Ordinær eksamen,99,85,82,8.67059,31,22,16,5,8,2,1,14,NaN
re 501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Mechanics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,v17/B1,75,Ordinær eksamen,81,75,67,7.6,20,17,17,9,4,7,1,6,NaN
re 502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Mechanics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,v16/B1,75,Ordinær eksamen,62,54,48,6.72222,13,9,10,9,7,5,1,8,NaN
re 503,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Mechanics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,v16/B1,75,Reeksamen,4,4,3,7.75,2,0,1,0,0,1,0,NaN,NaN
504,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Mechanics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,v15/B1,75,Ordinær eksamen,61,53,47,7.13208,13,11,10,8,5,6,0,8,NaN
re 504,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Mechanics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,v15/B1,75,Reeksamen,9,5,3,4.2,1,0,1,0,1,2,0,4,NaN
505,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Quantum Optics and Photonics,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,s19/B3,75,Ordinær eksamen,15,11,11,10.6364,5,5,1,0,0,0,0,4,NaN
re 505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods,Det Samfundsvidenskabelige Fakultet,Studienævnet for Global Udvikling,v18,75,Ordinær eksamen,54,53,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
re 506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods,Det Samfundsvidenskabelige Fakultet,Studienævnet for Global Udvikling,v17,75,Ordinær eksamen,58,58,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
re 507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods,Det Samfundsvidenskabelige Fakultet,Studienævnet for Global Udvikling,v16,75,Ordinær eksamen,56,55,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3
re 508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods,Det Samfundsvidenskabelige Fakultet,Studienævnet for Global Udvikling,v15,75,Ordinær eksamen,52,51,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5
re 509,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods,Det Samfundsvidenskabelige Fakultet,Studienævnet for Global Udvikling,v15,75,Reeksamen,6,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
510,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods,Det Samfundsvidenskabelige Fakultet,Studienævnet for Global Udvikling,v14,75,Ordinær eksamen,53,53,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
re 510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Research Methods and Ethics,Det Sundhedsvidenskabelige Fakultet,Global Sundhed,v14,75,Ordinær eksamen,39,39,38,7.58974,5,10,16,5,2,1,0,NaN,NaN
re 512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Seismology,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,s19/B4,75,Ordinær eksamen,7,6,6,10,3,1,2,0,0,0,0,1,NaN
re 513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Seismology,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,s18/B4,75,Ordinær eksamen,6,4,4,10.5,1,3,0,0,0,0,0,2,NaN
re 514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,http://karakterstatistik.stads.ku.dk/Histogram...,Advanced Seismology,Det Natur- og Biovidenskabelige Fakultet,Niels Bohr Institutet,s17/B4,75,Ordinær eksamen,8,6,6,10.6667,2,4,0,0,0,0,0,2,NaN
re 515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33429,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Kristendomshistorie,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,v15,15,Ordinær eksamen,8,6,6,9.66667,2,2,2,0,0,0,0,2,NaN
re 33429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33430,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Religionshistorie,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,v18,15,Ordinær eksamen,18,13,13,8.61538,5,3,2,1,2,0,0,5,NaN
re 33430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33432,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Religionshistorie,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,v16,15,Ordinær eksamen,16,10,10,9.3,4,2,3,1,0,0,0,6,NaN
re 33432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33433,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Religionshistorie,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,v14,15,Ordinær eksamen,9,8,8,8.75,2,4,0,1,1,0,0,1,NaN
re 33433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33435,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Religionssociologi,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,s17,15,Ordinær eksamen,10,5,5,9.4,3,0,1,1,0,0,0,5,NaN
re 33435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33436,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Religionssociologi,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,s15,15,Ordinær eksamen,6,4,4,9,1,1,2,0,0,0,0,2,NaN
re 33436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33439,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Religionsvidenskabens metodologi,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,s16,15,Ordinær eksamen,6,4,4,7,0,1,2,1,0,0,0,2,NaN
re 33439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33442,http://karakterstatistik.stads.ku.dk/Histogram...,ÅU Valgfrit område,Det Humanistiske Fakultet,Institut for Tværkulturelle og regionale studier,v17,15,Ordinær eksamen,7,4,4,7.25,0,2,1,0,1,0,0,3,NaN
re 33442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re 33443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
# Dropping rows which do not contain an URL ie. no exam data exits. 
grades_trans = grades_trans.dropna(subset = ['URL'])

In [128]:
len(grades_trans)

25419

In [156]:
grades_trans['URL'][14]

'http://karakterstatistik.stads.ku.dk/Histogram/ASTK15435E/Summer-2018'

In [145]:
# ID-Course
grades_trans['URL'][1][47:57]

'NFYK14019E'

In [152]:
if grades_trans['URL'][1][58:69] == 'Summer-2015':
    school_year = '2014-2015'
elif grades_trans['URL'][1][58:69] == ''

ok