In [121]:
import scraping_class
logfile = 'log.txt'## name your log file.
connector = scraping_class.Connector(logfile)
import requests
from bs4 import BeautifulSoup

In [122]:
import pandas as pd
import numpy as np
import html5lib

In [123]:
base_url = 'https://kurser.ku.dk/course/'
course_id = 'aØka08088u'
year = '2018-2019'
url = base_url + course_id + '/' +  year

In [124]:
response = requests.get(url)
raw_html = response.text
soup = BeautifulSoup(raw_html,'lxml')
soup;

In [130]:
name = soup.find('h1',{'class':"courseTitle"})
name

<h1 class="courseTitle">AØKA08088U  Advanced Development
Economics - Micro Aspects</h1>

In [152]:
placement = soup.find_all({'dd'})[13]
placement

In [125]:
exam = soup.find('div',{'id':'course-exams1'})
#print(exam)

In [154]:
vkolex = exam.find_all('dt')
vkolex;

In [155]:
hkolex = exam.find_all('dd')
hkol;

In [179]:
df = pd.DataFrame([course_id], columns=['Course-id'])
df.insert(1,'Name', name, allow_duplicates=True)
df.insert(2,'Year', year, allow_duplicates=True)
df.insert(3,'Placement', soup.find_all({'dd'})[13], allow_duplicates=True )
df.insert(3, vkolex[0], hkolex[0], allow_duplicates=True)
df.insert(3, vkolex[1], hkolex[1].find_all('div')[0], allow_duplicates=True)
df.insert(3, vkolex[2], hkolex[2].find_all('p')[0] ,allow_duplicates=True)
df.insert(3, vkolex[3], hkolex[3] , allow_duplicates=True)

if len(soup.find_all({'dd'})[11]) == 2: #Can be more than 0 level 
    df.insert(3, 'Level_1', soup.find_all({'dd'})[11].find_all('div')[0])
    df.insert(3, 'Level_2', soup.find_all({'dd'})[11].find_all('div')[1])
else:
    df.insert(3, 'Level_1', soup.find_all({'dd'})[11])
    df.insert(3, 'Level_2', '-')

df

,Course-id,Name,Year,Level_2,Level_1,Aid,Exam registration requirements,Type of assessment,Credit,Placement
0,aØka08088u,AØKA08088U Advanced Development Economics - M...,2018-2019,Ph.D.,Full Degree Master,Without aids,The students have to show active participation...,"Written assignment, 3 hours under invigilation","7,5 ECTS",Spring

In [203]:
# testing
def test(course_id2, year2):
    base_url = 'https://kurser.ku.dk/course/'
    url = base_url + course_id2 + '/' +  year2
    response = requests.get(url)
    raw_html = response.text
    soup = BeautifulSoup(raw_html,'lxml')
    name = soup.find('h1',{'class':"courseTitle"})
    
    exam = soup.find('div',{'id':'course-exams1'})
    vkolex = exam.find_all('dt')
    hkolex = exam.find_all('dd')

In [205]:
test('aØka08088u','2018-2019')
hkolex[3]

In [200]:

#Creating functions

def create_df(course_id2, year2):
    base_url = 'https://kurser.ku.dk/course/'
    url = base_url + course_id2 + '/' +  year2
    response = requests.get(url)
    raw_html = response.text
    soup = BeautifulSoup(raw_html,'lxml')
    name = soup.find('h1',{'class':"courseTitle"})
    
    exam = soup.find('div',{'id':'course-exams1'})
    vkolex = exam.find_all('dt')
    hkolex = exam.find_all('dd')
    
    df = pd.DataFrame([course_id], columns=['Course-id'])
    df.insert(1,'Name', soup.find('h1',{'class':"courseTitle"}), allow_duplicates=True)
    df.insert(2,'Year', year, allow_duplicates=True)
    df.insert(3,'Placement', soup.find_all({'dd'})[13], allow_duplicates=True )
    df.insert(3, vkolex[0], hkolex[0], allow_duplicates=True)
    df.insert(3, vkolex[1], hkolex[1].find_all('div')[0], allow_duplicates=True)
    
    df.insert(3, vkolex[2], hkolex[2].find_all('p')[0] ,allow_duplicates=True)
    df.insert(3, vkolex[3], hkolex[3] , allow_duplicates=True)

    if len(soup.find_all({'dd'})[11]) == 2: #Can be more than 0 level 
        df.insert(3, 'Level_1', soup.find_all({'dd'})[11].find_all('div')[0])
        df.insert(3, 'Level_2', soup.find_all({'dd'})[11].find_all('div')[1])
    else:
        df.insert(3, 'Level_1', soup.find_all({'dd'})[11])
        df.insert(3, 'Level_2', '-')
    return(df)

In [202]:
create_df('aØka08100u','2018-2019')

ValueError: Length of values does not match length of index

In [201]:
create_df('aØka08088u','2018-2019')

,Course-id,Name,Year,Level_2,Level_1,Aid,Exam registration requirements,Type of assessment,Credit,Placement
0,aØka08088u,AØKA08088U Advanced Development Economics - M...,2018-2019,Ph.D.,Full Degree Master,Without aids,The students have to show active participation...,"Written assignment, 3 hours under invigilation","7,5 ECTS",Spring